* {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

body {
    background-color: grey;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background-color: black;
    position: sticky;
    z-index: 3000;
    flex-wrap: wrap;
    top: 0%;
}

.izquierda {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.titulo {
    font-weight: bold;
    font-size: 25px;
}

.titulo1 {
    color: white;
}

.titulo2 {
    color: deeppink;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu a {
    color: white;
    font-weight: bold;
}

.menu a:hover {
    color: deeppink;
}

.carrito img {
    width: 40px;
}

.productos {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagen-principal {
    width: 800px;
}

.explicacion {
    text-align: center;
    margin: 30px;
    width: 100%;
}

.explicacion h1 {
    color: purple;
    margin: 10px;
}


.productos h2 {
    text-align: center;
    margin-bottom: 30px;
}
.cantantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.cantante {
    width: 250px;
    padding: 20px;
    border: 1px solid purple;
    box-shadow: 5px 5px 15px purple;
    border-radius: 15px;
    background-color: #1a1a1a;
}

.cantante:hover {
    transition: 0.7s ease;
    transform: scale(1.05);
}

.cantante img {
    width: 100%;
    height: 200px;
}

.cantante h3 {
    margin-bottom: 10px;
}

.cantante p {
    margin-bottom: 15px;
    font-size: 14px;
}

.cantantedescripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cantantedescripcion button {
    padding: 10px;
    background-color: deeppink;
    color: white;
    border-radius: 5px;
}

.piepagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px ;
    background-color: darkslategray;
    width: 100%;

}
